#gameBoard {

  width: 100%;

}

.row {
  display: flex;
  flex-direction: row;
}
.cell {
  width: 15px;
  height: 15px;
  /*height: 5px;*/
  border: .25px solid black;
}
.live {
  background-color: black
}
